body {
  margin: 0;
  font-family: 'Shadows Into Light', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.rowC{display:flex; flex-direction:row;}

/* test */
header {
  font-family: 'Shadows Into Light', cursive;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #606C38;
  padding: 20px 35px;
}

header h1 {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin: 0;
}

header nav {
  font-family: 'Shadows Into Light', cursive;
  margin: 7px 0;
  color: white;
}

header nav ul {
  font-family: 'Shadows Into Light', cursive;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: white;
}

header nav ul li a {
  padding: 10px 15px;
  font-size: 1.55vw;;
  color: white;
}
/* test */

main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}

.slideShow {
  width: 500px;
  height: 600px;
  position: relative;
  justify-content: center;
  display: flex;
  overflow-x: hidden;
}

.slide {
  width: 500px;
  flex-shrink: 0;
  height: 100%;
}



li {
 
  list-style: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

code {
  font-family: 'Shadows Into Light', cursive;
 
}

h1{
  font-family: 'Shadows Into Light', cursive;
  color: white;
  font-weight: bolder;
}

ul {
  font-family: 'Shadows Into Light', cursive;
  color: white;
  font-weight: bolder;
}

.carousel {
  width:740px;
  height:460px;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.item {
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.carousel-caption {
  text-align: right;
  
}
